body {
    background:wheat;
    font-family: Fantasy,'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
}

img {
    height: auto;
    width: 600px;
}

h2 {
    color: brown;
}

.only-paragraph {
    text-align: center;
    border: 2px solid brown;
    margin: 1rem auto;
    padding: 1rem;
    width: 50%;
    font-size: large;
}

#maintitle {
    color: brown;
    margin: 3rem 1rem;
}

.wikipedia-link:link {
color: red;
}

.wikipedia-link:visited {
    color: green ;
}

.recipe-link:link {
    color: red;
}

.recipe-link:visited {
color: green;
}

.ul-list {
    font-size: large;
    text-align: left;
    list-style-position: inside;
    margin: 0rem 34rem;
    padding: 5%;
    width: 50% 
}

.ol-list {
    font-size: large;
    text-align: center;
    list-style-position: inside;
}