body {
    background:wheat;
    font-family: Fantasy,'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
    box-sizing: border-box;
    border: 5px solid brown;
}

#maintitle {
    color: brown;
    margin: 50px;
}

img {
    width: auto;
    height: auto;
    border: 3px solid brown;
}

h2 {
    color: brown;
}

.only-paragraph {
    font-size: large;
    text-align: center;
    margin: 20px auto;
    border: 2px solid brown;
    padding: 16px;
    width: 700px;
    height: 170apx;
}

.wikipedia-link:link {
    color: red;
}

.wikipedia-link:visited {
    color: green;
}

.recipe-link:link {
    color: red;
}

.recipe-link:visited {
    color: green;
}

.ul-list {
    list-style-position: inside;
    font-size: large;
    text-align: left;
    margin: 20px 620px;
    padding: 0px;
    width: 300px;
    height: 250px;
}

.ol-list {
    list-style-position: inside;
    font-size: large;
    text-align: center;
    margin: 20px 200px;
    padding: 0px;
    width: 1000px;
    height: 150px;
}

.sources {
    margin: 20px 200px;
    border: 3px solid brown;
    padding: 0px;
}